/*Universal Styling*/
body{ font-family: 'Open Sans', sans-serif;}

img{max-width: 100%; height: auto;}

p{ font-family: 'Open Sans', sans-serif; font-size: 16px; }

a:link, a:visited, a:hover, a:active {
    color: #EE543A;
    text-decoration: none !important;
    font-size: 16px;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
}

.btn{}

.btn:hover{color: #333 !important;}

.nopadding{ padding-right: 0px !important; padding-left: 0px !important; }

.nomargin{ margin-right: 0px; margin-left: 0px; }

.caret{ margin-left: 5px !important;}




/*Header Styling*/
header#main_header{ background-color: #CCFF66; padding-bottom: 10px; }

.title{}

.title h1 a{
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	line-height: 130%;
	color: #EE543A;
}

.title p{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 16px;
}

img.logo{
	width: 70px;
    height: auto;
    position: absolute;
    left: -75px;
    top: -5px;
}

.call{}

.call h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold; 
	margin-top: 30px; 
	color: #EE543A;
}
.call p{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
}


.searchf{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.quote{
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 0px !important;
	margin-left: 0px !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.quote img.envlp{ width: 25px; height: auto; }


/*Nabvar*/
#navigation{ background-color: #CCFF66; font-family: 'Open Sans', sans-serif; }

.navbar{ margin-bottom: 0px !important; border: none !important; }


.navbar-nav>li>.dropdown-menu{}

.navbar-default{border-radius: 0 !important;}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-right: 0px !important;
	margin-left: 0px !important;	
}

.navbar-default .navbar-nav>li>a:first-child{ border-left: 1px solid #eee;}

.navbar-default .navbar-nav>li:last-child{ border-right: 1px solid #eee;border-left: 0px;}

.dropdown-menu>li>a{padding-top: 10px !important;padding-bottom: 10px !important;}

.dropdown-menu{border: none !important;}

.dropdown-menu .divider{margin: 0px !important;}


/*Slider*/
#slider{margin-top: 15px;margin-bottom: 15px;}


#owl-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}




#location_search{ padding-top: 30px; padding-bottom: 30px; }

.search_form_panel{
	background: #eee;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
	border-top:5px solid #EE543A;
}

.destination{
	overflow: hidden;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.location{
	overflow: hidden;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	float: left;
}

.form-control:focus{
	box-shadow: none !important;
	outline: none !important;
	border-color: #ccc !important;
}


input, select{ box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.3) inset !important; }

.destination .input-group-btn{ padding-top: 25px; padding-left: 5px; }

.location .input-group-btn{ padding-top: 25px; padding-left: 5px; }

.location .input-group-btn .btn { background-color: #EE543A; border:0px; border-radius: 0px; }

.destination .input-group-btn .btn{ background-color: #EE543A; border:0px; border-radius: 0px;}

.btn-group:not(:first-child)>.btn{ border-radius: 5px;}




/*Travel Report*/
#travel_report{}

#travel_report .tr{overflow: hidden; margin-bottom: 32px;}

#travel_report .tr_title h2{ 
	color: #EE543A;
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;	
}

#travel_report .single_col{
	overflow: hidden;
	margin-bottom: 15px;
	background-color: #EEE;
}

#travel_report .single_col img{ width: 100%; height: 237px;}

#travel_report .single_col h4 a{
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

#travel_report .single_col p{ font-family: 'Open Sans', sans-serif; padding: 10px; }

#travel_report .single_col .btn{
	margin-top: 32px;
	border-radius: 0px;
	background-color: #EE543A;
	border: 0px;
	line-height: 35px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}


/*Fancy HR*/

#fancyHR hr{
	border-top:2px dashed #EEE;
	margin-top: 15px;
	margin-bottom: 15px;
}


/*Slider For Cliants*/

#owl-clients{ margin-top: 15px; margin-bottom: 15px; }


#owl-clients .item{
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#owl-clients .owl-theme .owl-controls .owl-buttons div { padding: 5px 9px; }
 
#owl-clients .owl-theme .owl-buttons i{ margin-top: 2px; }
 
/*To move navigation buttons outside use these settings:*/
 
#owl-clients.owl-theme .owl-controls .owl-buttons div { position: absolute; }
 
#owl-clients.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -15px;
  top: 100px; 
  border-radius: 2px;
}
 
#owl-clients.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -15px;
  top: 100px;
  border-radius: 2px;
}



/*Contact Section*/

#contact{
	font-family: 'Open Sans', sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F3F3F3;
}

.contact_details{}

.contact_title{}

.contact_title h2{ font-weight:bold; color: #EE543A; }

.contact_title p{ font-weight: bold; font-style: italic; }

.contact_info{}

.contact_info img{}

.contact_info h3{
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #EE543A;
}

.contact_info h5{font-weight: bold;line-height: 150%;}

.contact_info p{line-height: 150%;}

.contact_info a{}


.contact_add{}

.contact_add h3{}

.contact_add h4{}

.contact_add a{}

.social{}

.social h3{}

.social a{ margin-bottom: 5px; display: inline-block; }

/*Font Awesome*/

.social a .fa{
    background-color: #DDD;
    padding: 10px;
    font-size: 22px;
    margin-right: 5px;
    width: 40px;
    text-align: center;
}




/*Footer Menu*/

.footer_menu{ padding-top: 35px; padding-bottom: 15px; text-align: center; }

.footer_menu ul{}

.footer_menu ul li{ display: inline-block; font-family: 'Open Sans', sans-serif; }

.footer_menu ul li a{ font-weight: bold; color: #EE543A;}


#condition{ background-color: #F3F3F3; padding-bottom: 30px; }

#condition .ca p{ font-size: 14px; }

#condition .ca a{ font-size: 14px; }

#copyright{	 background-color: #F3F3F3; padding-bottom: 30px; }

#copyright p{ font-size: 14px; }




/*Contact Page*/
#contact_form{
	padding-top: 30px;
	padding-bottom: 30px;
}

.contact_us{
	background: #3E4651;
}

.contact_us h1{
	margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 15px;
    line-height: 74px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #FFFFFF;
}

.MaincontactForm{
	padding-top: 30px;
	padding-bottom: 30px;
}


/*About Us page*/

#about{
	padding-top: 50px;
	padding-bottom: 30px;
	background-image: url(img/caribbean_cruise.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

.aboutvideo{

}

.embed-responsive{
	border: 10px solid #333;
}

.aboutUs{
	font-family: 'Open Sans', sans-serif;
    color: #fff;
    box-sizing: border-box;
    border: 10px solid #333;
    border-radius: 3px;
    background: rgba(255,255,235,.5);
}

.aboutUs h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 40px;
}

.aboutUs p{
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 160%;
    letter-spacing: .4px;
    margin-bottom: 40px;
}


/*Vacations page*/

#vacation{
	padding-top: 30px;
	padding-bottom: 30px;
}

.single_vac{
	margin-bottom: 30px;
}

.single_vac img.respo_img{
	width: 100%;
	height: 210px;
}

.single_vac .caption h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 100%;
    line-height: 150%;
}


/*Cruises page*/

#cruises{
	padding-top: 30px;
	padding-bottom: 30px;	
}

.single_cru{
	margin-bottom: 30px;
}


.single_cru img.respo_img{
	width: 100%;
	height: 150px;
}

.single_cru .caption h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 100%;
    line-height: 150%;
}





/*Responsive Code*/
@media screen and (max-width: 960px) {
	.single_vac img.respo_img{ width: 100%; height: 130px;}
	.single_cru img.respo_img {width: 100%; height: 100px; }
	.single_col img{ width: 100% !important;  height: 130px !important; }
}


@media screen and (max-width: 768px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{ padding-right: 15px !important; padding-left: 15px !important;}

	#navigation{background-color: #fff;}

	.owl-controls .clickable{ display: none !important; }

	.footer_menu ul li{ width: 100%; text-align: left;}

	img.logo { width: 70px; height: auto; position: absolute; left: 95px; top: -35px; }
	
	.single_vac img.respo_img{ width: 100%; height: auto; }

	.single_cru img.respo_img{ width: 100%; height: auto; }
	
	.single_col img{ width: 100%;  height: auto !important;}

}